*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//STYLES VARIABLES
$green: rgb(17, 75, 95);
$blue: rgba(172, 237, 255, 0.737);
$purple: rgb(141, 128, 173);
$purple: #8a5cf6e0;
$grey: rgba(141, 148, 176, 0.741);

//GENERAL
body {
  background-color: $green;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
}

//MAIN CONTAINER
.container {
  width: 90%;
  background-color: $blue;
  display: flex;
  flex-direction: column;
}
//CREATION SECTION
.creation {
  &_header {
    text-align: center;
    margin: 10px 0;
    color: white;
    // background-image: linear-gradient(to right, rgb(244, 168, 46), white);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
  }
  &_input {
    display: grid;
    grid-template-areas:
      "title title_text title_text. "
      "content content_text content_text. "
      ". button . .";
  }
  &_label_title {
    grid-area: title;
    margin-right: 10px;
    text-align: right;
  }
  &_title {
    grid-area: title_text;
    margin-bottom: 10px;
    height: 25px;
    border-radius: 5px;
    border: none;
    padding: 5px;
  }
  &_label_content {
    text-align: right;
    margin-right: 10px;
    grid-area: content;
  }
  &_content {
    grid-area: content_text;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    padding: 5px;
  }
  &_btn {
    grid-area: button;
    width: 70px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: $purple;
    color: white;
  }
}

//DISPLAY
.display {
  padding: 20px;
  text-align: center;
  &_subheader {
    margin-bottom: 5px;
    font-size: 1.1rem;
    color: white;
  }
}

#notes_section {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
  min-height: 100px;
  border: 1px dashed white;
  padding: 10px;
  background-color: $grey;
}

//INDIVIDUAL NOTES
.noteStyle {
  background-color: white;
  padding: 10px;
  width: 200px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.titleStyle {
  text-transform: uppercase;
  margin-bottom: 3px;
}
.dateStyle {
  font-weight: 300;
  margin-bottom: 5px;
  font-size: 0.8rem;
}
.contentStyle {
  text-transform: capitalize;
  padding: 5px 0;
  border: none;
}

//ICONS & BUTTONS
.savebtn,
.editbtn,
.deletebtn {
  margin: 10px 3px 0px;
  padding: 5px;
  font-size: 0.7rem;
  cursor: pointer;
  border: 1px solid $purple;
  background-color: white;
  border-radius: 4px;
}

.savebtn:hover,
.editbtn:hover,
.deletebtn:hover {
  background-color: black;
  color: white;
  border: none;
}

//TODO HEADER
hr {
  height: 15px;
  background-color: $green;
  border: none;
}
.to-do {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  &-header {
    margin: 10px 0;
    color: white;
  }
  &-input {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 80px;
    justify-content: center;
    column-gap: 10px;
  }
}

//TODO SECTION
.to-do {
  &-subheader {
    color: white;
    margin-top: 20px;
    padding-bottom: 10px;
  }
}
.task {
  display: flex;
  line-height: 60px;
  column-gap: 10px;
  margin: 0 auto;
  width: 100%;
}
.text {
  padding: 5px;
  min-width: 300px;
  max-width: 500px;
}
.task-list {
  display: flex;
  flex-direction: column;
  margin: 0px 20px;
  min-height: 100%;
}
#new-task-submit,
.todo-edit,
.todo-delete {
  background-color: $purple;
  color: white;
  margin: 3px 10px 3px 0;
  padding: 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  &:hover {
    background-color: white;
    color: $purple;
  }
}
#new-task-input,
.text {
  background-color: $grey;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 5px;
  margin-bottom: 3px;
  line-height: 30px;
}
#new-task-input::placeholder {
  color: white;
}

.actions {
  display: flex;
  align-items: center;
}

textarea {
  // margin: 0;
  outline: none;
}
