*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(17, 75, 95);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
}

.container {
  width: 90%;
  background-color: rgba(172, 237, 255, 0.737);
  display: flex;
  flex-direction: column;
}

.creation_header {
  text-align: center;
  margin: 10px 0;
  color: white;
}
.creation_input {
  display: grid;
  grid-template-areas: "title title_text title_text. " "content content_text content_text. " ". button . .";
}
.creation_label_title {
  grid-area: title;
  margin-right: 10px;
  text-align: right;
}
.creation_title {
  grid-area: title_text;
  margin-bottom: 10px;
  height: 25px;
  border-radius: 5px;
  border: none;
  padding: 5px;
}
.creation_label_content {
  text-align: right;
  margin-right: 10px;
  grid-area: content;
}
.creation_content {
  grid-area: content_text;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  padding: 5px;
}
.creation_btn {
  grid-area: button;
  width: 70px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: rgba(138, 92, 246, 0.8784313725);
  color: white;
}

.display {
  padding: 20px;
  text-align: center;
}
.display_subheader {
  margin-bottom: 5px;
  font-size: 1.1rem;
  color: white;
}

#notes_section {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
  min-height: 100px;
  border: 1px dashed white;
  padding: 10px;
  background-color: rgba(141, 148, 176, 0.741);
}

.noteStyle {
  background-color: white;
  padding: 10px;
  width: 200px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.titleStyle {
  text-transform: uppercase;
  margin-bottom: 3px;
}

.dateStyle {
  font-weight: 300;
  margin-bottom: 5px;
  font-size: 0.8rem;
}

.contentStyle {
  text-transform: capitalize;
  padding: 5px 0;
  border: none;
  display: block;
}

.savebtn,
.editbtn,
.deletebtn {
  margin: 10px 3px 0px;
  padding: 5px;
  font-size: 0.7rem;
  cursor: pointer;
  border: 1px solid rgba(138, 92, 246, 0.8784313725);
  background-color: white;
  border-radius: 4px;
}

.savebtn:hover,
.editbtn:hover,
.deletebtn:hover {
  background-color: black;
  color: white;
  border: none;
}

hr {
  height: 15px;
  background-color: rgb(17, 75, 95);
  border: none;
}

.to-do {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}
.to-do-header {
  margin: 10px 0;
  color: white;
}
.to-do-input {
  display: grid;
  grid-template-columns: minmax(200px, 1fr) 80px;
  justify-content: center;
  column-gap: 10px;
}

.to-do-subheader {
  color: white;
  margin-top: 20px;
  padding-bottom: 10px;
}

.task {
  display: flex;
  line-height: 60px;
  column-gap: 10px;
  margin: 0 auto;
  width: 100%;
}

.text {
  padding: 5px;
  min-width: 300px;
  max-width: 500px;
}

.task-list {
  display: flex;
  flex-direction: column;
  margin: 0px 20px;
  min-height: 100%;
}

#new-task-submit,
.todo-edit,
.todo-delete {
  background-color: rgba(138, 92, 246, 0.8784313725);
  color: white;
  margin: 3px 10px 3px 0;
  padding: 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
#new-task-submit:hover,
.todo-edit:hover,
.todo-delete:hover {
  background-color: white;
  color: rgba(138, 92, 246, 0.8784313725);
}

#new-task-input,
.text {
  background-color: rgba(141, 148, 176, 0.741);
  border-radius: 5px;
  border: none;
  color: white;
  padding: 5px;
  margin-bottom: 3px;
  line-height: 30px;
}

#new-task-input::placeholder {
  color: white;
}

.actions {
  display: flex;
  align-items: center;
}

textarea {
  outline: none;
}
